main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

main .product-container {
    width: 100vw;
    padding: 75px 100px 200px 100px;
    display: flex;
    justify-content: space-between;
}

main .product-container .product-image {
    width: 45%;
}

main .product-container .product-image img {
    width: 35vw;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
}

main .product-container .product-description {
    width: 50%;
    height: 5vh;
    padding-top: 25px;
    padding-right: 50px;
}

main .product-container .product-description h1 {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 7px;
}

main .product-container .product-description h3 {
    font-weight: 400;
    padding-bottom: 30px;
}

main .product-container .product-description h2 {
    margin-bottom: 15px;
    position: relative;
}

main .product-container .product-description h2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: rgb(254, 107, 61);
    bottom: 0;
    left: 0;
}

main .product-container .product-description p {
    letter-spacing: 1px;
    padding-bottom: 30px;
}

main .product-container .product-description h4 {
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 700;
    padding-bottom: 75px;
    color: rgb(254, 107, 61);
}

main .product-container .product-description a.button {
    width: 45%;
    padding: 20px 70px;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: background-color ease-out 0.3s, color ease-out 0.3s;
}