header {
    width: 100vw;
    height: 100vh;
    background-image: url("images/products-header-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-animation: 1s ease-out 0s 1 fade-in;
    animation: 1s ease-out 0s 1 fade-in;
}

header .nav-links a#products {
    font-weight: 800;
    color: rgb(254, 107, 61);
}

header .nav-links a#products:hover {
    color: black;
}

header .header-description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-description h3 {
    letter-spacing: 1px;
    padding-bottom: 40px;
}